.highlight pre {
    border-left-color: green;
    border-left-width: medium;
}

.highlight-default .highlight pre {
    border-left-color: #ccc;
    border-width: 0px;
}

h1 {
    text-align: center;
}

@media (min-width: 768px)
#main-content {
  max-width: 100%;
}
